

<div ng-controller="NewsAPIController">

    <input type="text" ng-model="ngUsername" placeholder="Enter your Name" />
    <button ng-click="CallMe()">Click On Me</button>

    <center><img class="imgUrlImageStyle" src="http://www.abc.net.au/news/image/7942140-1x1-700x700.jpg" /></center>
    <h2>'Callous and insensitive': Labor lashes Cormann's domestic violence leave remarks</h2>
    <p>The Opposition accuses Mathias Cormann of being callous and insensitive for suggesting domestic violence leave would be another cost on the economy.</p>
</div>